<!--
   Most of the following code has been modified from the Node.js Starter App.
   Resources:
   1. Node.js Starter App - https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
-->

<!DOCTYPE html>
<html>
<head>
    <!-- Set character encoding and link to stylesheet -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Set the title of the webpage -->
    <title>Kapow! Comics Database</title>
</head>
<body>
    <!-- Insert the content of the page provided dynamically -->
    {{{body}}}
</body>
</html>
