<!--
   Most of the following code has been modified from the Node.js Starter App.
   Resources:
   1. Node.js Starter App - https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
   (Sourced on 8/13/2023)
-->

<!-- Include jQuery library -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Page header and navigation links -->
<header>
    <h1>Kapow! Comics - Home</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="products">Products</a>
    <a href="customers">Customers</a>
    <a href="suppliers">Suppliers</a>
    <a href="sales">Sales</a>
    <a href="salesDetails">Sales Details</a>
</nav>
<!-- Project overview information -->
<main>
    <h2>Project Overview</h2>
    <p>Kapow! Comics, a medium-sized comic book store, generates approximately $750,000 in annual revenue from comics, graphic novels and other related merchandise. The company is doing well, but is having trouble managing all the sales, rental, and customer data as the company begins to scale up. Medium-sized companies often face issues where the influx of new customers' data and maintenance of the old data is hard to manage at once. To help resolve this, we will develop a database-driven website to record Sales and Rentals of products to Customers. This system will need to be straightforward and robust enough to manage between 35,000 and 40,000 transactions per year and store the related information in an organized fashion.</p>
</main>